# Microsoft Graph (Azure AD App Registration)
CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=d483e5ff-b6da-4938-b7c9-0facee9e6746

# SharePoint
SHAREPOINT_SITE_ID=centralitltda.sharepoint.com,7f417076-f263-4c77-8b1f-57e6fe25319a,570f7ea0-5b25-4e23-a834-87b8d9238341
SHAREPOINT_DRIVE_ID=b!dnBBf2Pyd0yLH1fm_iUxmqB-D1clWyNOqDSHuNkjg0GGDSEII2oET6_ZNjHfd57i
SHAREPOINT_BASE_FOLDER=General/HIPERAUTOMAÇÃO/Outros

# Host e porta do servidor
FILE_MANAGER_HOST=0.0.0.0
FILE_MANAGER_PORT=8000

# API key para autenticação (deixe vazio para desabilitar)
FILE_MANAGER_API_KEY=
